APP_NAME=apostila-ai
APP_ENV=local
APP_PORT=8088

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

DATABASE_URL=mysql+pymysql://user:password@mysql:3306/educatudo

STORAGE_PATH=/app/app/storage
MAX_UPLOAD_MB=200

INTERNAL_API_KEY=trocar_essa_chave
